* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    letter-spacing: -0.01px;
  }
  body {
    padding: 0;
    margin: 0;
  }

.top-div{
  display: none;
}
header {
    height: 550px;
    background-color: red;
    background: url(img/hero_desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .content {
    padding: 0px 8px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .content1 {
    display: flex;
    height: 40px;
    justify-content: flex-end;
    gap: 8px;
    width: 100%;
    position: absolute;
    top: 17px;
  }
  
  .sign {
    display: flex;
    gap: 10px;
  }
  
  .login span {
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* padding: 0px 12px; */
  }
  
  .login span {
    font-size: 16px;
    font-weight: 500;
    max-width: 100%;
    margin: 0px;
    padding: 10px 16px;
    display: inline-flex;
    min-height: 32px;
    width: auto;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    user-select: none;
    text-decoration: none;
    text-align: center;
    background-color: #ffff;
    color: black;
    box-shadow: inset 0 0 0 1px #19191900;
  }
  login a span{
    text-decoration: none;
    color: black;
  }
  
  .signin span {
    display: flex;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif(--font-bold);
    padding: 0px 20px;
  }
  
  .signin {
    width: auto;
    max-height: 40px;
    min-height: 32px;
    text-decoration-style: solid;
    width: 90px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 40px;
    background-color: rgb(235, 23, 0);
    cursor: pointer;
    border: none;
    color: white;
    display: none;
  }
  
  .openapp span {
    font-size: 17.5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif(--font-bold);
    padding: 0px 20px;
  }
  
  .openapp {
    width: auto;
    min-height: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 40px;
    background-color: rgb(235, 23, 0);
    cursor: pointer;
    border: none;
    color: white;
  }
  
  .signup span {
    font-size: 17.5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif(--font-bold);
    padding: 0px 10.5px;
  }
  
  .signup {
    width: auto;
    max-height: 40px;
    min-height: 32px;
    width: 90px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 40px;
    background-color: white;
    cursor: pointer;
    border: none;
    color: rgb(95, 92, 92);
    display: none;
    text-align: center;
  }
  
  .middle {
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .hidden-logo {
    height: 17.5px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .middle h1 {
    color: white;
    font-size: 22px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif(--font-bold);
    text-align: center;
    margin-bottom: 24px;
  }
  
  .middle1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .search {
    background-color: white;
    display: flex;
    flex-direction: row;
    border-radius: 100px;
    max-width: 408px;
    padding: 6px 16px;
    position: relative;
    height: 56px;
    align-items: center;
    justify-content: space-around;
  }
  
  .search input {
    border: none;
    width: 216px;
    font-size: 18px;
    display: flex;
    color: slategrey;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .search input::placeholder {
    color: rgb(85, 81, 81);
    font-size: 16px;
  }
  
  .search i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    margin-right: 12px;
    color: #767676;
  }
  
  .search .bx-map {
    display: none;
  }
  
  .arrow-continer {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    right: 8px;
    justify-content: center;
  }
  
  .arrow-continer i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin-right: 12px;
    color: black;
  }
  
  .black_arrow {
    display: none;
  }
  
  .signin1 {
    display: flex;
    background-color: white;
    padding: 7px 14px;
    border-radius: 20px;
    margin-top: 16px;
    align-items: center;
  }
  
  .signin1 img {
    width: 16px;
    margin-right: 5px;
  }
  
  .signin span {
    font-size: 14px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif(--font-medium);
  }
  
  .signin2 {
    display: none;
    background-color: white;
    padding: 7px 14px;
    border-radius: 20px;
    margin-top: 16px;
    align-items: center;
  }
  
  .signin2 img {
    width: 16px;
    margin-right: 5px;
  }
  
  .signin2 span {
    font-size: 18px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif(--font-medium);
  }
  
  .signin3 {
    display: none;
    background-color: white;
    padding: 5px 5px;
    border-radius: 20px;
    margin-top: 16px;
    align-items: center;
  }
  
  .signin3 img {
    width: 16px;
    margin-right: 4px;
  }
  
  .signin3 span {
    font-size: 14.5px;
    font-weight: 700;
    text-wrap: nowrap;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif(--font-regular);
  }
  
  
  @media screen and (min-width: 768px) {

  .middle1 img {
      position: absolute;
      top: 0px;
      margin-top: 24px;
    }
  
    .middle1 h1 {
      line-height: 28px;
    }
  
    .signin1 {
      display: none;
    }
  
    .signin2 {
      display: flex;
    }
  
    .content {
      align-items: flex-end;
    }
  
    .middle {
      height: 580px;
    }
  
    .search {
      padding: 8px 8px 8px 20px;
    }
  
    .login {
      display: none;
    }
  
    .openapp {
      display: none;
    }
  
    .signin {
      display: flex;
    }
  
    .signup {
      display: flex;
    }
  
    header {
      height: 650px;
    }
  
    .search {
      width: 408px;
    }
  
    .search .bx-search {
      display: none;
    }
  
    .search .bx-map {
      display: flex;
    }
  
    .signin2 {
      margin-top: 16px;
    }

  }
  
  @media screen and (min-width: 770px) {
    .middle1 h1 {
      font-size: 39px;
      width: 100%;
    }
  
    .middle1 h1 {
      line-height: 38px;
    }
  
    .middle {
      width: 100%;
    }
    
  }
  
  @media screen and (min-width: 960px) {
    .signin2 {
      display: none;
    }
  
    .signin3 {
      display: flex;
      max-width: 203.5px;
    }
  
    .middle1 img {
      height: 24px;
    }
  }
  
  @media screen and (min-width: 1184px) {
    .arrow-continer {
      width: 40px;
      height: 40px;
      border-radius: 50px;
      text-align: center;
      background-color: #eb1700;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .arrow-continer i {
      color: white;
      text-align: center;
      margin-left: 10px;
    }
    .arrow-continer_2{
      display: none;
    }
  }
  
  .section1 {
    width: 100%;
    height: 168px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .logo {
    padding: 20px;
    background-color: rgb(247, 247, 247);
    /* width: 360px; */
    /* height: 148px; */
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: flex-start;
    margin: 20px 20px 0px;
  }
  .logo {
   padding: 8px;
  }
  .logo img {
    width: 50px;
    height: 40px;
    background-color: #ffff;
    object-fit: contain;
  }
  .content3 {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .content3 img {
    height: 13px;
    margin-bottom: 4px;
  }
  .content3 h1 {
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif(--font-bold);
    color: #191919;
    margin: 0px 0px 8px;
  }
  .content3 p {
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif(--font-medium);
    color: #767676;
    margin: 0px 0px 8px;
  }
  .content3 button {
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif(--font-bold);
    color: white;
    background-color: #EB1700;
    border-radius: 40px;
    padding: 13px 13px;
    border: none;
    align-items: center;
    justify-content: center;
    gap: 2px;
  }
  .content3 button i {
    font-size: 16px;
    color: white;
  }
    
  @media screen and (min-width: 768px) {
    .section1 {
      display: none;
    }
  }
  
  .section2 {
    margin: auto;
    /* width: 402px; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .content4 {
    margin: 40px 0px;
    padding: 8px;
    width: 100%;
  }
  
  .doordash {
    width: 100%;
    display: flex;
    padding: 16px;
    align-items: top;
    justify-content: center;
  }
  
  .doordash-img {
    display: flex;
    align-items: top;
    justify-content: center;
  }
  
  .doordash-img img {
    width: 88px;
    height: 88px;
    margin-right: 32px;
  }
  
  .doordash-content {
    width: 65%;
  }
  
  .doordash-content h2 {
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif(--font-bold);
    
  }
  
  .doordash-content h3 {
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif(font-light);
    /* width: 277px; */
    line-height: 20px;
    
  }
  
  .doordash-content span {
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif(--font-bold);
    color: #eb1700;
    margin-top: 12px;
  }
  
  .doordash-content span i {
    font-size: 16px;
    color: #eb1700;
  }
  @media screen and (min-width:369px) {
    
  }
  @media screen and (min-width: 768px) {
    .content4 {
      /* width: 480px; */
    }
  
    .doordash-img img {
      /* width: 124px; */
      /* height: 124px; */
    }
  
    .doordash {
      /* width: 470px; */
    }
  }
  
  @media screen and (min-width: 1184px) {
    .section2 {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .content4 {
      width: fit-content;
      display: flex;
      flex-direction: row;
      padding: 12px;
      margin: 96px 0px;
    }
  
    .doordash {
      /* width: 360px; */
      flex-direction: column;
      align-items: top;
      justify-content: start;
    }
  
    .doordash-img img {
      /* width: 154px; */
      height: 154px;
      margin-right: 64px;
    }
  
    .doordash-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      /* width: 250px; */
    }
  
    .doordash-content h2 {
      font-size: 32px;
      text-align: center;
    }
  
    .doordash-content h3 {
      font-size: 18px;
      text-align: center;
      margin-top: 8px;
      line-height: 25px;
    }
  
    .doordash-content span {
      font-size: 18px;
    }
  
    .doordash-content span i {
      font-size: 16px;
    }
  }
  
  .section3 {
    width: 100%;
    /* margin-bottom: -300px; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .pizza1 {
    width: 100%;
    padding: 20px;
    /* max-width: 1200px; */
    margin: auto;
  }
  
  .pizza-img {
    /* width: 374PX; */
    /* height: 280px; */
    overflow: hidden;
    /* height: 180px; */
    /* height: 500px; */
    /* width: 463px; */
    object-fit: cover;
  }
  
  .pizza-img img {
    width: 100%;
    /* position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
  }
  
  .pizza2 h2 {
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif(--font-bold);
    margin-top: 20px;
  }
  
  .pizza2 h3 {
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif(--font-medium);
    margin-top: 10px;
  }
  
  .pizza2 p {
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif(--font-regular);
    margin-top: 10px;
    line-height: 20px;
  }
  
  .pizza2 button {
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif(--font-bold);
    color: white;
    background-color: #eb1700;
    border-radius: 40px;
    margin-top: 20px;
    padding: 10px 12px;
    border: none;
  }
  
  
  @media screen and (min-width: 768px) {
    .pizza1 {
      display: flex;
      flex-direction: row-reverse;
      /* height: 100%; */
      align-items: center;
      justify-content: center;
      gap: 60px;
    }
  
    .section3 {
      display: flex;
      /* margin-bottom: -60px;
      height: 544px; */
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
  
    .pizza-img {
      /* height: 100%; */
      /* width: 90%; */
    }
  
    .pizza-img img {
      height: 100%;
      object-fit: cover;
    }
  
    .pizza2 h2 {
      font-size: 40px;
      line-height: 39px;
      margin-bottom: 20px;
    }
  
    .pizza2 h3 {
      font-size: 20px;
      margin-bottom: 10px;
    }
  
    .pizza2 p {
      font-size: 16px;
      margin-bottom: 10px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif(--font-medium);
      line-height: 22px;
    }
  
    .pizza2 {
      font-size: 16px;
    }
  
    .pizza2 {
      min-width: 400px;
      max-width: 400px;
    }
  }
  
  @media screen and (min-width: 1184px) {
    .pizza2 h2 {
    }
  
    .pizza2 h3 {
    }
  
    .pizza2 p {
    }
  
    .pizza2 button {
    }
  }
  
  .section4 {
    width: 100%;
    background-color: #fef1ee;
    padding: 20px 20px 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .dashpass1 {
    /* max-width: 1200px; */
    margin: auto;
  }
  
  .dashpass-img {
    /* width: 374px; */
    height: 180px;
    overflow: hidden;
    object-fit: cover;
  }
  
  .dashpass-img img {
    width: 100%;
   
  }
  
  .dashpass2 h2 {
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif(--font-medium);
    margin-top: 10px;
  }
  
  .dashpass2 p {
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif(--font-regular);
    margin-top: 10px;
    line-height: 20px;
  }
  
  .dashpass2 button {
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif(--font-bold);
    color: white;
    background-color: #eb1700;
    border-radius: 40px;
    margin-top: 20px;
    padding: 10px 12px;
    border: none;
  }
  
  @media screen and (min-width: 768px) {
    .section4 {
      height: 604px;
      padding: 80px 20px 20px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
  
    .dashpass1 {
      display: flex;
      gap: 60px;
      height: 100%;
      align-items: center;
      justify-content: center;
    }
  
    .dashpass-img {
      height: 100%;
      width: 90%;
    }
  
    .dashpass-img img {
      height: 100%;
      object-fit: cover;
    }
  
    .dashpass2 h2 {
      font-size: 40px;
      width: 70%;
      line-height: 39px;
      margin-bottom: 20px;
    }
  
    .dashpass2 p {
      font-size: 16px;
      margin-bottom: 10px;
      font-family: var(--font-medium);
      line-height: 22px;
    }
  
    .dashpass2 button {
      font-size: 16px;
    }
  
    .dashpass2 {
      min-width: 400px;
      max-width: 400px;
    }
  }
  
  
  .section-5 {
    width: 100%;
    height: 350px;
    background: linear-gradient(rgba(30, 30, 30, 0.6), rgba(30, 30, 30, 0.6)),
      url(img/grocery_desktop.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding: 300px 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .section-5 h2 {
    font-size: 38px;
    font-family: var(--font-bold);
    margin-top: 20px;
    text-align: center;
    display: inline-block;
  }
  
  .section-5 h3 {
    font-size: 18px;
    font-family: var(--font-medium);
    margin-top: 10px;
    text-align: center;
    display: inline-block;
  }
  
  .section-5 p {
    font-size: 14px;
    font-family: var(--font-medium);
    margin-top: 10px;
    line-height: 20px;
    display: inline-block;
    text-align: center;
  }
  
  .section-5 button {
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif(--font-bold);
    color: white;
    background-color: #eb1700;
    border-radius: 40px;
    margin-top: 20px;
    padding: 10px 12px;
    border: none;
  }
  
  @media screen and (max-width: 768px) {
    .section5 {
      height: 600px;
    }
  
    .section-5 h2 {
      font-size: 40px;
      /* width: 495px; */
      line-height: 41px;
    }
  
    .section-5 h3 {
      font-size: 20px;
      /* width: 495px; */
      margin-top: 20px;
    }
  
    .section-5 p {
      font-size: 16px;
      /* width: 550px; */
      margin-top: 10px;
    }
  
    .section-5 button {
      font-size: 16px;
      margin-top: 30px;
    }
  }
  
  
  .section6{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .convenience1{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 10px;
    margin-left: 10px;
  }

  .convenience-img {
    width: 100%;
    overflow: hidden;
   
  }
  
  .convenience-img img {
    width: 100%;
  }
  
  .convenience2 h2 {
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif(--font-medium);
  }
  
  .convenience2 p {
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif(--font-medium);
    align-items: center;
    line-height: 20px;
    
  }
  
  .convenience2 button {
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif(--font-bold);
    color: white;
    background-color: #eb1700;
    border-radius: 40px;
    border: none;
  }
  
  .convinince-section {
    margin-bottom: 0;
  }
  
  @media screen and (min-width: 768px) {
    .convenience-section {
      padding: 60px 20px 20px;
    }
    .convinience-img {
      height: 100%;
    }
  
    .convinience-img img {
      height: 100%;
      object-fit: cover;
    }
  
    .convenience2 h2 {
      font-size: 40px;
      line-height: 39px;
      margin-bottom: 20px;
    }
  
    .convenience2 h3 {
      font-size: 20px;
      margin-bottom: 10px;
    }
  
    .convenience2 p {
      font-size: 16px;
      font-family: var(--font-regular);
      margin-top: 10px;
      line-height: 20px;
    }
  
    .convenience2 {
      min-width: 400px;
    }
  
    .convenience2 button {
      font-size: 16px;
    }
  
    .convinince2 {
      margin-bottom: -40px;
    }
  }
  
  .section7 {
    width: 100%;
    background-color: #fef1ee;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .gift-h {
    width: 100%;
    padding: 40px 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .section7 h1 {
    width: 300px;
    font-size: 24px;
    font-family: var(--font-bold);
    text-align: center;
  }
  
  .gift {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 90%);
    overflow-x: auto;
    max-width: 1200px;
  }
  
  .gift::-webkit-scrollbar {
    width: 0;
  }
  
  .gift-content{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
  }
  
  .gift-img {
    width: 100%;
    overflow: hidden;
    height: 180px;
    max-width: 552px;
    max-height: 552px;
  }
  
  .gift-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .gift-content h1 {
    font-size: 24px;
    font-family: var(--font-bold);
    margin-top: 20px;
  }
  
  .gift-content p {
    font-size: 14px;
    font-family: var(--font-regular);
    margin-top: 10px;
    text-align: center;
  }
  
  .gift-content button {
    font-size: 14px;
    font-family: var(--font-bold);
    color: white;
    background-color: #eb1700;
    border-radius: 40px;
    margin-top: 20px;
    padding: 10px 12px;
    border: none;
  }
  
  .gift-content h4 {
    font-size: 12px;
    font-family: var(--font-bold);
    margin-top: 10px;
  }
  
  @media screen and (min-width: 768px) {
    .gift-h {
      padding: 60px 20px 40px;
    }
  
    .section7 h1 {
      font-size: 32px;
      width: 500px;
    }
  
    .gift {
      width: 100%;
      grid-template-columns: repeat(2, 50%);
      grid-auto-rows: auto;
      overflow-x: hidden;
    }
  
    .gift-img {
      height: fit-content;
    }
  
    .gift-content h1 {
      font-size: 40px;
      margin-top: 20px;
      width: 80%;
      text-align: center;
    }
  
    .gift-content p {
      font-size: 16px;
      margin-top: 20px;
    }
  
    .gift-content button {
      font-size: 16px;
      margin-top: 30px;
    }
  }
  
  .dasher-h {
    width: 100%;
    padding: 40px 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .dasher-h h1 {
    font-size: 24px;
    font-family: var(--font-bold);
    width: 300px;
    text-align: center;
  }
  
  @media screen and (min-width: 768px) {
  .dasher-h h1 {
      font-size: 32px;
      width: 500px;
    }
  }
  
  .partner {
    margin-bottom: 0px;
  }
  .neighborhood {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
  }
  
  .neighborhood h1 {
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 20px;
  }
  
  .neighborhood ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
  
  .neighborhood  li {
    height: 40px;
    list-style: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .neighborhood  a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .neighborhood ul li:hover {
    border-bottom: 2px solid black;
  }
  
  .neighbors_grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
  }
  
  .neighbor_grid {
    padding: 0px 12px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .neighbor_grid h3 {
    font-size: 16px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .neighbor_grid :hover {
    background-color: rgb(219, 216, 216);
  }
  .playstore {
    display: flex;
    flex-direction: column;
  }

  @media screen and (max-width:958px) {
    .playstore {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }
  
  @media screen and (min-width: 768px) {
    .neighborhood h1 {
      font-size: 32px;
    }
  
    .neighborhood ul li a {
      font-size: 16px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
  
    .neighborhood ul {
      margin-bottom: 20px;
    }
  
    .neighbor_grid {
      height: 40px;
    }
  
    .neighbors_grid {
      grid-template-columns: repeat(3, 1fr);
      margin-top: 0;
    }
  }
  
  @media screen and (min-width: 960px) {
    .neighbors_grid {
      grid-template-columns: repeat(5, 1fr);
      margin-top: 0;
    }
  }
 
.footer {
  width: 100%;
  background-color: #191919;
  padding: 0px 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.footer1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  max-width: 1120px;
  margin: auto;
}
.footer1 h3 {
  font-size: 16px;
  font-family: var(--font-regular);
  display: block;
  text-align: center;
  margin-bottom: 8px;
}
.footer2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 32px 0px;
  align-items: center;
  gap: 12px;
}
.footer3 {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer4 {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.footer4 a {
  font-size: 14px;
  font-family: var(--font-light);
  color: white;
  margin-top: 8px;
}
.footer5 {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  justify-content: space-between;
}
.footer6 {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  justify-content: center;
}
.footer7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 32px;
}
.footer7 h3 {
  font-size: 16px;
  font-family: var(--font-bold);
  margin-bottom: 8px;
}
.footer7 a {
  font-size: 14px;
  font-family: var(--font-light);
  color: white;
  margin-top: 8px;
  box-sizing: border-box;
}
.footer8 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer8-logo {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
}
.footer8-logo {
  display: flex;
  width: 160px;
  align-items: center;
  justify-content: center;
}
.footer8-logo a {
  width: 100%;
  background-color: rgb(73, 73, 73);
  padding: 2px 8px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
}
.footer8-logo a img {
  height: 100%;
  object-fit: cover;
}
.footer9 {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 32px 0px;
}
.footer-left {
  display: flex;
  flex-direction: row;
}
.footer-left ul img {
  width: 40px;
  object-fit: contain;
  margin-right: 10px;
}
.footer-left ul {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.footer-left ul li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-left ul li a {
  color: white;
  font-size: 12px;
  text-decoration: none;
  margin-right: 10px;
  white-space: nowrap;
  font-family: var(--font-light);
}
.footer10 {
  padding: 12px;
  width: 174px;
}
.language {
  padding: 4px 12px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-regular);
  color: black;
  width: 100%;
  border-radius: 16px;
  background-color: rgba(247, 247, 247);
}
.language i {
  font-size: 24px;
  color: #242222;
}
.footer10 select {
  border: none;
}
.footer-right {
  display: flex;
  flex-direction: row;
  width: 96px;
  justify-content: space-between;
  align-items: center;
}
.footer-right i {
  font-size: 24px;
  color: #C4C4C4;
}
@media screen and (min-width: 768px) {
  .footer2 {
    display: flex;
    align-items: start;
    height: 237px;
  }
  .footer2 h3 {
    display: flex;
    text-align: start;
    margin-bottom: 0;
  }
  .footer3 {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
  .footer4 a {
    text-align: start;
    margin-top: 12px;
  }
  .footer8 {
    width: 100%;
    height: 148px;
    padding-top: 32px;
  }
  .footer8-logo {
    padding: 0;
  }
  .footer6 {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .footer7 {
    padding-top: 32px;
    margin: 0;
    align-items: start;
  }
  .footer7 a {
    text-align: start;
  }
  .footer9 {
    flex-direction: row;
  }
}
@media screen and (min-width: 960px) {
  .footer5 {
    flex-direction: row;
  }
  .footer6 {
    width: 50%;
    gap: 12px;
    height: 454px;
  }
  .footer7 a {
    margin-top: 12px;
  }
  .footer8 {
    width: 50%;
    position: relative;
  }
  .footer-logo {
    position: absolute;
    right: 0;
  }
  .footer-left {
    width: 60%;
  }
}


/* star */
@media screen and (max-width : 760px) {
  .top-div {
  display: flex;
  align-items: center;
  height: 93px;
  margin: 0px 10px;
  justify-content: space-around;
}
.top-div svg {
  border: 1px solid rgb(222, 222, 222);
  border-radius: 10px;
}
.top-div h4 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.top-div p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 0.9em;
}
.top-div .txt-div {
  margin: 8px 5px;
}
.top-div button {
  color: white;
  background-color: red;
  padding: 0px 10px;
  border: 8px solid transparent;
  border-radius: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
}
@media screen and  (max-width: 770px){
  .footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
  .footer5{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
   .footer11{
    display: flex;
    flex-direction: row;
    justify-items: center;
    width: 15px;
  }
}